  MyWebsite/
  |--css/
  |  |--materialize.css
  |
  |--fonts/
  |  |--roboto/
  |
  |--js/
  |  |--materialize.js
  |
  |--index.html

 .howToPlay {
  position: center;
}

img {
display: block;
margin: auto;
}

img.city {
  height: 168px;
  width: 168px;
}


.sidebar {
  display: block;
}
/* flip the pane when hovered */
.flip.hover .flipper {
  transform: rotateY(180deg);
}

.flip, .front, .back {
  width: 250px;
  height: 250px;
}

/* flip speed */
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 21
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: #fff;
}

.p1 {
  width: 20%;
  height: 14em;
  float: left;
}


/*.artist-1 {
  background-image: src="assets/Images/backCover.jpg" center center no-repeat;
  background-size: cover; 
}*/